.home-bg-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #1565d8, #e0eefe);
  background-size: cover;
  min-height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.digital-card {
  width: 40%;
}
